<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>MinMap</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" rel="stylesheet">

  </head>

  <body>
    
<div class="container">

<div class="navbar navbar-default col-md-4 col-md-offset-4" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Sign-in with Faithlife</a></li>
               <li><a href="/login">About</a></li>
               <li><a href="http://map.minmap.co/_plugin/kibana/#/dashboard/elasticsearch/MinMap">Map</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron col-md-4 col-md-offset-4">
        <div align="center"><img src="http://natesmoyer.com/wp-content/uploads/2014/03/MinMap-Logo-Color1-e1395530836122.png" style="max-width:100%"></div>
    <div align="center">Welcome <%= user.alias %>!</div><br />
    <div align="center"><img src="<%= user.avatarUrls.avatarUrlLarge %>" style="max-width:100%; height: 100px;" class="img-circle"></div>
    <br />
    Pick the <a href="https://faithlife.com">Faithlife</a> affiliations that you are checking in for:
    <br /><br />
    <input type="text" id="affiliations">
    </input>
    <br /><br />
    
    <div class="form-group">
      <select id="ministryCategory" class="form-control" placeholder="Select ministry category">
        <option value="" disabled selected>Select ministry category</option>
        <option>Shelter</option>
        <option>Food</option>
        <option>Physical/Mental Health</option>
        <option>Career Services</option>
        <option>Housing</option>
        <option>Education</option>
        <option>Neighborhood Watch</option>
        <option>Legal</option>
        <option>Bible Studies</option>
        <option>Worship</option>
      </select>
    </div>
        <div align="center"><a class="btn btn-lg btn-primary" id="btnInit" role="button"  data-toggle="modal" data-target="#myModal">Check-in</a></div>

    </div>
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thank you!</h4>
      </div>
      <div class="modal-body">
                Your submission has been successfully added to <strong>MinMap</strong>.
                                  <br /><br />
                  Other affiliations that checked-in here recently:
 <table>
     <tr><td> <img alt="Code for the Kingdom" src="//d17g46tfi0dv3u.cloudfront.net/2291/3612291_large_1bc98d1fa1dc4b9fa0b36264dd58eb08.png" height="80" width="80"></td>
     <td>		<h4 title="Code for the Kingdom">Code for the Kingdom 		
     <span style="color: gray; font-size: 0.8em">
			<span>Special Interest • Seattle, WA </span><span class="separator">•</span>
			<a href="https://faithlife.com/code-for-the-kingdom">Join</a>
		</span>
	</h4>
	<p class="account-description">Developers, designers, and entrepreneurs using technology to transform lives.</p></td></tr>
 </table>

 <table>
     <tr><td> <img alt="Code for the Kingdom" src="//faithlife.com/Content/images/GroupIcons/Large/church.png" height="80" width="80"></td>
     <td>		<h4 title="Code for the Kingdom">Seattle Church Assembly 		
     <span style="color: gray; font-size: 0.8em">
			<span>Church • Open • Seattle, WA </span><span class="separator">•</span>
			<a href="https://faithlife.com/seattle-church-assembly-wa">Join</a>
		</span>
	</h4>
	<p class="account-description">355 North 104th Street Seattle, WA 98133, USA</p></td></tr>
 </table>
                  <br /><br />
    Enhance your check-in by adding tags
    <br /><br />
    <input type="text" id="tags">
    </input>
    <br /><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script>
   <script>
    $("#affiliations").select2({"tags": [
        <% for(var i=0; i<groups.groups.length; i++) {%>
       "<%= groups.groups[i].alias %>",
    <% } %>
    ], "width": "100%"
    });
    $("#tags").select2({"tags": [], "width": "100%", "height": "300px" });
   </script>
      <script>
        $(window).ready(function(){
            $("#btnInit").click(initiate_geolocation);
        });
 
        function initiate_geolocation() {
            navigator.geolocation.getCurrentPosition(handle_geolocation_query);
        }
 
        function handle_geolocation_query(position){
          
          var currentdate = new Date(); 
          var datetime = currentdate.getFullYear() + "-"
                + ('0' + (currentdate.getMonth()+1)).slice(-2)  + "-" 
                + ('0' + currentdate.getDate()).slice(-2) + "T"  
                + ('0' + (currentdate.getHours())).slice(-2) + ":"  
                + ('0' + (currentdate.getMinutes())).slice(-2) + ":" 
                + ('0' + (currentdate.getSeconds())).slice(-2);

            var data = {"channel":"webapp",
            "dateTime": datetime,
            "lonlat" : [ position.coords.longitude, position.coords.latitude ],
                        "category" : $("#ministryCategory").val(),
                        "affiliations" : $("#affiliations").val()};
                  
            $.ajax({ 
             type: "POST",
             dataType: "json",
             url: "https://elasticsearch-imprint.rhcloud.com/minmap/checkin/",
             data: JSON.stringify(data),
             success: function(data){        
                console.log(data);
             }
            });
        }
    </script>
</html>